<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcertif.mdomotique"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET" />    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.jcertif.mdomotique.services.MDomotiqueApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity
            android:name="com.jcertif.mdomotique.ihm.Splash"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jcertif.mdomotique.ihm.Authentification"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"/>
        
        <activity
            android:name="com.jcertif.mdomotique.ihm.ListRooms"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"/>
        
        <activity
            android:name="com.jcertif.mdomotique.ihm.ManagementRooms"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        
        <activity
            android:name="com.jcertif.mdomotique.ihm.ManagementUsers"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        
        <activity
            android:name="com.jcertif.mdomotique.ihm.ListEquipements"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        
    </application>

</manifest>